---
import "@fontsource-variable/inter";
import Calculator from "../components/Calculator.vue";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon_dark.svg"
            media="(prefers-color-scheme: dark)"
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Simplify network configuration with our subnet calculator. Calculate subnets, subnet masks, and IP addresses in seconds."
        />
        <title>Subnet Calculator</title>
    </head>
    <body class="flex flex-col h-svh">
        <header class="navbar bg-base-300 p-0">
            <div class="container">
                <p class="text-xl font-bold">Subnet Calculator</p>
            </div>
        </header>
        <main
            class="container grow grid max-md:grid-rows-2 md:grid-cols-2 p-4 gap-4"
        >
            <Calculator client:load />
        </main>
        <footer>
            <div class="container py-4 text-center">
                <p class="text-xs text-neutral-content">
                    Made by Reza Eshraghi
                </p>
            </div>
        </footer>
    </body>
</html>
