---
import "@fontsource-variable/inter";
import Calculator from "../components/Calculator.vue";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body class="flex flex-col h-svh">
        <header class="navbar bg-base-300 p-0">
            <div class="container">
                <p class="text-xl font-bold">Subnet Calculator</p>
            </div>
        </header>
        <main class="container grow grid md:grid-cols-2 p-4 gap-4">
            <Calculator client:load />
        </main>
        <footer>
            <div class="container py-4 text-center">
                <p class="text-xs text-neutral-content">
                    Made by Reza Eshraghi
                </p>
            </div>
        </footer>
    </body>
</html>
